@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/primeflex.css';
@import 'app/styles/pages';
